@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&family=Oxygen:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width {
    max-width: 1150px;
    padding: 0;
    margin: auto;
}

/* Navbar Styling */
.navbar {
    position: fixed;
    width: 100%;
    padding: 30px 0;
    /* background: #551aea; */
    font-family: 'Cairo', sans-serif;
    transition: all 0.3s ease;
}

.navbar .sticky {
    padding: 15px 0;
    background: #551aea;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span {
    color: #551aea;
    transition: all 0.3s ease;
}

.navbar .sticky .logo a span {
    color: #fff;
}


.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color: #551aea;
}

.navbar .sticky .menu li a:hover {
    color: #fff;
}

/* Menu Button Styling */
.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* Home Section Styling */
.home {
    display: flex;
    background: url('images/home.jpg') no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Cairo', sans-serif;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text1 {
    font-size: 27px;
}

.home .home-content .text2 {
    font-size: 75px;
    font-weight: 600;
    margin: -3px;
}

.home .home-content .text3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text3 span {
    color:#7e52ef;
    font-weight: 500;
}

/* Responsive Media Query Start */
@media (max-width: 947px){
    .max-width{
        padding: 0 50px;
    }
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
    }

    .navbar .menu .active {
        left: 0;
    }

    .navbar .menu li{
        display: inline-block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
}